/*
Archivo de Estilo - Guillermo Amigó Urda, Alejandro Camuñas Casas y Sergio García Aloguín.
Práctica final de Juegos en Red.
Grado en Diseño y Desarrollo de Videojuegos.
*/


body 
{ 
    background-image: url("Material/Img/Otros/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#Barra
{
	position: fixed;
	left:0; 
	right:0;
	bottom: 0;
	width: 50%;
	margin-right: auto;
    margin-left: auto;
    text-align:center;
    background-color: #ddd;
  	border: 1px solid #000;
}